<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="insert" parameterType="dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, status, create_time, update_time, create_user,
                         update_user)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <resultMap id="DishVoMap" type="com.sky.vo.DishVO" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="flavors" ofType="com.sky.entity.DishFlavor" autoMapping="true">
            <id column="df_id" property="id"/>
            <result column="df_did" property="dishId"/>
            <result column="df_name" property="name"/>
            <result column="df_value" property="value"/>
        </collection>
    </resultMap>
    <select id="page" resultMap="DishVoMap">
        select dish.id,
        dish.name,
        dish.category_id,
        dish.price,
        dish.image,
        dish.description,
        dish.status,
        dish.update_time,
        category.name category_name,
        dish_flavor.id df_id,
        dish_flavor.dish_id df_did,
        dish_flavor.name df_name,
        dish_flavor.value df_value
        from dish
        left outer join category on dish.category_id = category.id
        left join dish_flavor on dish.id = dish_flavor.dish_id
        <where>
            <if test="name != null and name != ''">
                and dish.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and dish.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and dish.status = #{status}
            </if>
        </where>
        order by dish.create_time desc
    </select>

    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectById" resultMap="DishVoMap">
        select dish.id,
               dish.name,
               category_id,
               price,
               image,
               description,
               dish.status,
               dish.update_time,
               category.name category_name,
               df.id df_id,
               df.dish_id df_did,
               df.name df_name,
               df.value df_value
        from dish
                 left join category on dish.category_id = category.id
                 left join dish_flavor df on dish.id = df.dish_id
        where dish.id = #{id}
    </select>

    <update id="update" parameterType="dish">
        update dish
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">createUser = #{createUser},</if>
        </set>
        where id = #{id}
    </update>

    <select id="list" resultType="dish">
        select * from dish
        <where>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="categoryId != null">and category_id = #{categoryId}</if>
        </where>
    </select>
</mapper>
